---
layout: default
---

{% assign researcher = site.data.researchers
  | where: "id", page.researcher_id
  | first %}

{% assign contributions = site.data.contributions
  | where: "researcher_id", researcher.id %}

<article class="profile">

  <header>
    <h1>{{ researcher.name }}</h1>

    <p>
      Institution:
      {{ researcher.institution_id }}
    </p>

    {% if researcher.tags.size > 0 %}
    <ul>
      {% for tag in researcher.tags %}
      <li>{{ tag }}</li>
      {% endfor %}
    </ul>
    {% endif %}
  </header>

  <section>
    <h2>Topic Contributions</h2>

    {% for contribution in contributions %}

      {% assign topic = site.data.topics
        | where: "id", contribution.topic_id
        | first %}

      <article>

        <h3>
          {% if topic %}
            {{ topic.code }}
          {% else %}
            {{ contribution.topic_id }}
          {% endif %}
        </h3>

        <strong>{{ contribution.title }}</strong>

        <p>
          {{ contribution.contribution }}
        </p>

        <p>
          <em>
            {{ contribution.possible_contribution }}
          </em>
        </p>

      </article>

    {% endfor %}
  </section>

</article>